# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

#Hoja de requerimientos
REQ_D1_usuarios.md

# Entorno virtual
env/
venv/
.venv/
ENV/

# Variables de entorno - NUNCA subir al repo
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/static_collected/
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Migraciones (se versionan - NO ignorar)
# Las migraciones SÍ se suben al repo
